.bookmarks-view {
    height: 40px;
    display: flex;
}

.bookmarks-item {
    padding-left: 5px;
}


.bookmark-item-favicon {
    float: left;
    padding-top: 3px;
    padding-left: 5px;
}

.bookmark-item-title {
    padding-top: 1px;
    padding-left: 2px;
    display: inline;
}

.bookmarks-view-table {
    padding-top: 9px;
    margin-left: 10px;
}

/* DEMO 2 */

.bookmarks-item {
    position: relative;
    width: 120px;
    padding: 7px 5px;
    font-size: 12px;
    background: #fff;
    cursor: pointer;
    outline: none;
}

.bookmarks-item:after {
    transform: rotate(90deg);
    content: "";
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: grey transparent;
}

.dropdown-element {
    border-width: 0px 0px 0px 5px;
    padding-top: 2px;
    border-style: solid;
    border-left-color: #00ACED;
}

.dropdown-element .bookmarks-item {
    border-bottom: 1px solid #00ACED;
    border-top: 1px solid #00ACED;
}

.bookmarks-dropdown {
    margin: 0px;
    list-style: none;
    padding: 0px;
}

.bookmark-page-button {
    height: 22px;
    width: 13px;
}

.bookmark-back-button::after {
    transform: rotate(270deg);
}

.bookmarks-item .dropdown {
  /* Size & position */
    position: absolute;
    top: 100%;
    left: -5px;
    right: 0px;
    padding-left: 0px;
    margin-top: 0px;

    /* Styles */
    background: white;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

a {
    text-decoration: none;
    color: #333;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.bookmarks-item .dropdown li:nth-child(1) a {
    border-left-color: #00ACED;
}

.bookmarks-item .dropdown li:nth-child(2) a {
    border-left-color: #4183C4;
}

.bookmarks-item .dropdown li:nth-child(3) a {
    border-left-color: #3B5998;
}

.bookmarks-item .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */

.bookmarks-item .dropdown li:hover a {
    color: grey;
}

/* Active state */

.bookmarks-item:after {
    border-width: 0 6px 6px 6px;
}

.bookmarks-item .dropdown {
    opacity: 1;
    pointer-events: auto;
}

/* No CSS3 support */

.no-opacity       .bookmarks-item .dropdown,
.no-pointerevents .bookmarks-item .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .bookmarks-item.active .dropdown,
.no-pointerevents .bookmarks-item.active .dropdown {
    display: block;
}
