.bookmarks-view {
    height: 40px;
    display: flex;
    background-color: white;
    border-bottom: 1px solid #d6d4d6;
}

.bookmarks-item {
    height: 20px;
}

.bookmark-item-title {
    display: inline;
}