.settings-button {
    width: 36px;
    height: 36px;
    right: 0;
    top: 0;
    background: purple;
    position: absolute;
    margin-top: 12px;
    margin-right: 11px;
    background-color: white;
    border-left: 5px solid green;
    cursor: pointer;
}

.settings-button-cog {
    margin-top: 4px;
    margin-left: 3px;
}

.settings-button-cog-animated {
    animation: Button-cog-spin infinite 5s linear;
}

@keyframes Button-cog-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.settings-view {
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: rgba(0, 0, 0, 0.32) 0px 0px 25px 6px;
    border-radius: 2px;
    display: inline-block;
    max-width: 700px;
    padding: 15px;
    position: relative;
    vertical-align: middle;
    margin: auto;
}

.settings-view-header {
    margin-top: 0px;
}


.shadow-div {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
}

.popup-show {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes bounceOut {
    20% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9)
    }
    50%, 55% {
        opacity: 1;
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1)
    }
    100% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }
}

@keyframes bounceOut {
    20% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9)
    }
    50%, 55% {
        opacity: 1;
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1)
    }
    100% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }
}

.popup-hide {
    -webkit-animation-name: bounceOut;
    animation-name: bounceOut;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes slideInDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes slideInDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}


/*/*/